.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  z-index: 5;
}
.header__title {
  text-align: center;
  font-size: 36px;
}

.main {
  flex-grow: 1;
  position: relative;
  padding: 80px 0 15px;
}

/*Cart*/
.cart {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(calc(var(--container-width) / 2 - 12px));
  padding: 10px;
  z-index: 10;
  cursor: pointer;
}
.cart__count {
  position: absolute;
  right: 2px;
  bottom: 10px;
  min-width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: var(--secondary-color);
  font-size: 12px;
  border-radius: 50%;
}
@media (max-width: 900px) {
  .cart {
    right: 20px;
    transform: translateX(1px);
  }
}

/*Goods*/
.goods {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 30px 0;
}
.goods__not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.goods__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 30px;
  border: 1px solid var(--primary-color);
}
.goods__img {
  max-width: 100%;
  margin-bottom: 20px;
  background-color: var(--secondary-bg);
}
.goods__title {
  font-size: 22px;
}
.goods__description {
  flex-grow: 1;
  font-size: 16px;
  margin-bottom: 20px;
}
.goods__action {
  display: flex;
  justify-content: space-between;
}
.goods__price {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-bg);
}
.goods__btn {
  padding: 10px 20px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  font-size: 16px;
  border-radius: 3px;
  transition: all 0.3s;
}
.goods__btn:hover {
  opacity: 0.7;
}

/*Basket*/
.basket {
  animation: show 0.5s ease-in-out;
}
.basket__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.basket__content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50rem;
  max-width: 95%;
  max-height: 90vh;
  background-color: #fff;
  transform: translate(-50%, -50%);
  z-index: 110;
  overflow-y: auto;
}
.basket__header,
.basket__footer {
  display: flex;
  padding: 10px 15px;
  background-color: var(--primary-bg);
  color: var(--secondary-color);
  font-weight: bold;
}
.basket__title {
  flex-grow: 1;
}
.basket__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  padding: 5px 15px;
  border: 1px solid var(--secondary-bg);
}
.basket__item-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid var(--secondary-bg);
  font-size: 18px;
}
.basket__item-price {
  flex-grow: 1;
  font-weight: bold;
}
.basket__item-close,
.basket__header-close {
  padding: 0 5px;
  color: var(--primary-bg);
  font-size: 28px;
  font-weight: bold;
}
.basket__header-close {
  color: #fff;
}
.basket__not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

@keyframes show {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

/*Footer*/
.footer {
  padding: 20px;
  background-color: var(--secondary-bg);
}
.footer__content {
  text-align: center;
}
.footer__link {
  color: var(--primary-bg);
  font-weight: bold;
  transition: all 0.3s;
}
.footer__link:hover {
  opacity: 0.7;
}

.loader {
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  border: 3px solid;
  border-color: var(--primary-bg) var(--primary-bg) transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #FF3D00 #FF3D00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
    
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    


@media (max-width: 767px) {
  .basket__item {
    padding: 10px;
  }
  .basket__item-title {
    width: 100%;
  }
}
